*Q1

For loop must be used when you know the exact number of repetations.

In [1]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

While Loop is used when the number of repetations depends on a condition that may change within the loop.

In [2]:
x = 0
while x < 10:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8
9

*Q2

In [3]:
#FOR LOOP
sum = 0
prod = 1
for i in range(1,11):
    sum = sum + i
    print('Sum:', sum)
    prod = prod * i
    print('Product: ', prod)

Sum: 1
Product:  1
Sum: 3
Product:  2
Sum: 6
Product:  6
Sum: 10
Product:  24
Sum: 15
Product:  120
Sum: 21
Product:  720
Sum: 28
Product:  5040
Sum: 36
Product:  40320
Sum: 45
Product:  362880
Sum: 55
Product:  3628800

In [4]:
#WHILE LOOP
n = 1
sum = 0
prod = 1
while n <= 10:
    sum = sum + n
    prod = prod * n
    n = n + 1
print('Sum:', sum)
print('Product: ', prod)

Sum: 55
Product:  3628800

*Q3

In [5]:
units = eval(input("Enter Units: "))
total = 0

if units <= 100:
    total = units * 4.5
elif units <= 200:
    total = 100*4.5 + (units - 100) * 6
elif units <= 300:
    total = 100*4.5 + 100*6 + (units - 200) * 10
elif units > 300:
    total = 100*4.5 + 100*6 + 100*10 + (units-300) * 20
print("Electricity Bill: ", total)

Enter Units:  310

Electricity Bill:  2250.0

*Q4

In [6]:
#For Loop
list = []
cube = 1
for i in range(0,100):
    cube = i**3
    if cube % 4 == 0 and cube % 5 == 0:
        list.append(cube)
print(list)

[0, 1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000]

In [ ]:
cube = 1
l = []
i = 0
while i < 101:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        l.append(cube)
print(l)

*Q5

In [ ]:
string = "I want to become a data scientist"
vowels = 'aeiouAEIOU'
total = 0
for i in string:
    if i in vowels:
        total += 1
print("Vowels: ", total)